.homePageBusinessItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;
    height: 200px;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#picture {
    display: inline-block;
}

#businessPhoto {
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#businessName {
    color: black;
    font-weight: 700;
    font-size: 25px;
}