.homePageBusinessItemContainer {
    display: flex;
    flex-direction: row;
    
    border: 1px solid black;
    height: 200px;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#picture {
    display: inline-block;
}

#businessPhoto {
    display: inline-block;
    object-fit: cover;
    height: 175px;
    width: 175px;
    border-radius: 4px;
}