#browsing {
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    padding-left: 20px;
}

#allResults {
    padding-left: 20px;
}

.mappedBusinesses {
    text-decoration: none;
    list-style: none;
}

#googleMap {
    border: 1px solid black;
    display: inline-block;
    height: 90%;
    width: 35%;
    position: fixed;
    right: 0;
    top: 125px;
}