#searchBarDiv {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0));
    padding-bottom: 30px;
}

#searchform {
    display: flex;
    justify-content: space-between;
   
    
}

.searchbars {
    display:inline-block;
    width: 250px;
    height: 45px;
    margin-left: 0px;
    margin-top: 20px;
    border: none;
}

#searchFood {
    margin-left: -120px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search {
    height: 47px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(240, 18, 18);
    color: white;
}

#search:hover {
    cursor: pointer;
    background-color: rgb(255, 19, 19);
}

#subsearches {
    display:flex;
    justify-content: flex-start;
    width: 521px;
    margin-left: 250px;
    /* position: absolute; */
}

.subSearch {
    margin-left: 70px;
}

#kelplogo {
    color:rgb(2, 128, 86);
    font-size: x-large; 
    font-weight: 700;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 0px;
}

#signup {
    background-color: rgb(240, 18, 18);
    border: 2px solid rgb(240, 18, 18);
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 60px;
    margin-top: 25px;
    font-size: 18px;
}

#signup:hover {
    cursor: pointer;
    background-color: rgb(255, 19, 19);    
}

#login {
    display: inline-block;
    border: 2px solid white;
    background-color: transparent;
    width: 55px;
    color: white;
    border-radius: 5px;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 15px;
    margin-right: 10px;
    margin-top: 25px;
    font-size: 18px;
}

#login:hover {
    cursor: pointer;
}

body {
    /* background: url("https://cdn.vox-cdn.com/thumbor/WvRdh56SV72gtXbDpyF-Hyv97Bk=/0x0:2200x1238/1200x675/filters:focal(924x443:1276x795)/cdn.vox-cdn.com/uploads/chorus_image/image/65490624/01_Kensinger_east_side_resiliency_DSC_9403.0.jpg");
     */
     background-color: white;
    background-size: cover;
}