.reviewMenu {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.reviewMenu:hover {
    background-color: rgb(192, 186, 186);
    cursor: pointer;
    transition: 1s;
}

.deleteReview {
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid rgb(240, 18, 18);
    background-color: rgb(240, 18, 18);
}

.deleteReview:hover {
    cursor: pointer;
    background-color: rgb(250, 42, 42);
    border: 2px solid rgb(240, 18, 18);
}

.editReview {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid black;
}

.editReview:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}