.signup-inputs {
    margin-top: 9px;
    margin-bottom: 3px;
    width: 220px;
    height: 20px;

}

.name-inputs {
    width: 103px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

body {
    background-color: white;
}