#container {
    background-color: white;
    height: 100%;
    width: 100%;
};

#checkOutTheseBusinesses {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.4px;
    line-height: 36px;
    color: rgba(45, 46, 47, 1);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
};