#profile-button {
    display: flex;
    margin: 24px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(240, 18, 18);
    border: 2px solid rgb(240, 18, 18);
}

#profile-button:hover {
    cursor: pointer;
    background-color: rgb(255, 19, 19);   
}

.profile-dropdown {
    position: absolute;
}