#updateTextBox {
    width: 500px;
}

#kelpLogo {
    display: block;
    color: rgb(240, 18, 18);
    font-size: x-large; 
    font-weight: 700;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#kelpLogo:hover {
    cursor: pointer;
}

#businessName {
    font-size: larger;
    font-weight: 700;
}

#submitUpdatedReview {
    background-color: rgb(240, 18, 18);
    border: 2px solid rgb(240, 18, 18);
    display: inline-block;
    color: white;
    border-radius: 3px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

#submitUpdatedReview:hover {
    cursor: pointer;
    background-color: rgb(255, 41, 41);
    border: 2px solid rgb(255, 41, 41);
}