h2 {
    font-weight: 700;
    font-size: 25px;
}

#itemBox {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 600px;
    padding: 30px;
}

#itemBox:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

body {
    background-color: white;
}

#businessLink {
    display: flex;
    justify-content: flex-start;
}