#businessName {
    color: black;
    font-weight: 700;
    font-size: 25px;
}

#businessLocation {
    color: black;
}

#itemAttributes {
    color: black;
}

#times {
    color: black;
}

#highestReview {
    color: black;
}

#itemBox {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 500px;
    padding: 30px;
}

#itemBox:hover {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#businessPreview {
    display: inline-block;
    height: 225px;
    width: 225px;
}

#businessList {
    display: inline-block;
}

body {
    background-color: white;
}

#businessLink {
    display: flex;
    justify-content: flex-start;
}