#businessName {
    color: black;
    font-weight: 700;
    font-size: 25px;
}

#businessLocation {
    color: black;
}

#itemAttributes {
    color: black;
}

#times {
    color: black;
}

#highestReview {
    color: black;
}

#itemBox {
    padding: 30px;
}

#businessPreview {
    display: inline-block;
    height: 225px;
    width: 225px;
}

#businessList {
    display: inline-block;
}

body {
    background-color: white;
}

#businessLink {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    width: 60%;
    height: 225px;
    margin-top: 1px;
}

#businessLink:hover {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    box-shadow: 0 0 18px #00000026;
}