#showSearchBar {
    position: fixed;
}

.nameRating {
    position: absolute;
    top: 400px;
}

#businessName {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 10px;
}

#businessRating {
    margin-left: 20px;
    margin-bottom: 10px;
}

.ratingStars {
    margin: 0;
    padding: 0;
    width: 36px;
}

#businessImage {
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
}

#businessImageHolder {
    display: flex;
    height: 400px;
}

#numOfReviews {
    position: absolute;
    top: 67px;
    left: 200px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

#reviewHeader {
    font-size: 24px;
    color: black;
    margin: 10px;
}

.reviews {
    margin-left: 40px;
}

.singleReview {
    margin-bottom: 20px;
    padding: 10px;
    width: 500px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.singleReview:hover {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    box-shadow: 0 0 18px #00000026;
}

.reviewUserInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.reviewMenu {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.reviewMenu:hover {
    background-color: rgb(192, 186, 186);
    cursor: pointer;
    transition: 2s;
}

.paragraph {
    color: black;
}

.deleteReview {
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid rgb(240, 18, 18);
    background-color: rgb(240, 18, 18);
}

.deleteReview:hover {
    cursor: pointer;
    background-color: rgb(250, 42, 42);
    border: 2px solid rgb(240, 18, 18);
}

.editReview {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid black;
}

.editReview:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.reviewerName {
    color: black;
    font-weight: 600;
}

.cityState {
    color: black;
}

.submitReview {
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    height: 150px;
    width: 500px;
}

.submitReviewForm {
    background-color: rgb(240, 18, 18);
    border: 2px solid rgb(240, 18, 18);
    display: inline-block;
    color: white;
    border-radius: 3px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.submitReviewForm:hover {
    cursor: pointer;
    background-color: rgb(255, 19, 19);    
}

.submitFavoriteForm {
    background-color: rgb(240, 18, 18);
    border: 2px solid rgb(240, 18, 18);
    display: inline-block;
    color: white;
    border-radius: 3px;
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

.submitFavoriteForm:hover {
    cursor: pointer;
}

.buttonForm {
    display: inline-block;
}