/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */

html, body, section, article,
h1, h2, p, strong, em, a, #login-button, li, ul, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: 'Questrial', sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}